main {
  max-width: 800px;
  margin: auto;
}

img {
  max-width: 90%;
  max-height: 400px;
  margin: auto;
  display: block;
}

body {
  font-family: sans-serif;
  min-height: 100vh;
  max-width: 850px;
  padding: 0 16px;
  margin: auto;
  color: #2E1A47;
  background: #fcf3f2;
}

h1 { color: #7E191B; }
h2 { color: #7E354D; }
h3 { color: #045F5F; }
h4 { color: #2F6357; }
h5, h6 { color: #3C565B; }
a { color: #622F22; }
a:visited{ color: #43302E; }
h1, h2 { text-align: center; }
h2, h3 { line-height:1.2; }

footer {
  text-align: center;
  clear: both;
}
.taglist {
  text-align: center;
  clear: both;
}

#nextprev {
  /* The container for both the previous and next articles. */
}
#prevart {
  float: left;
  text-align: left;
}
#nextart {
  float: right;
  text-align: right;
}
#nextart,#prevart {
  max-width: 33%;
}
