body {
  margin: 2em auto;
  padding: 0 1em;
  line-height: 1.4;
  min-height: 100vh;
  max-width: 40em;
  /* display: flex; */
  /* flex-wrap: wrap; */
  /* justify-content: center; */
  /* align-items: center; */
  /* text-align: center; */
  background: #1b1b1b;
  color: #fff;
}
img {
  width: 40em;
  height: auto;
}
h1,h2,h3{ line-height:1.2; }
h1 { color: blueviolet; }
h2 { color:  rebeccapurple; }
h3 { color: steelblue; }
h4 { color: thistle; }
h5, h6 { color: cornsilk; }
a { color: mediumaquamarine; }
